@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.home-content h1 {
  color: white;
  font-size: 90px;
  font-family: Lobster, monospace;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1831;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

body h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
}

body img {
  border-radius: 50%;
  width: 30em;
  padding-top: 30px;
  padding-bottom: 40px;
}

body img:hover {
  /*cursor: pointer;
  animation-name: hoveroverimage ;
  animation-duration: 10s ;
  animation-fill-mode: forwards;*/
  content: url("/Pictures/glitchyme.gif");
  border-color: white !important;

}

@keyframes hoveroverimage {
  from {
  					transform: rotate(0deg);
  				}

  				to {
            content: url("/Pictures/meblackwhite.jpg");
  					transform: rotate(359deg);
  				}
}
