* {
  margin: 0px;
  padding: 0px;
}

/* =====================================
Navigationbar
====================================> */

.navbar {
  background-color: #1a1831;
}
.content {
  padding-top: 100px;

  margin-bottom: 100px;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 1px;
  width: 100%;
  z-index:998;
  justify-content: center;
}


.menu a {
  margin: 12px;
  /* font-size:20px; */
  font-size: 30px;
}

.menu a:hover {
  transition: 0.3s ease;
  background: transparent;
  border: 2px solid #dece9c;
  cursor: pointer;
  font-size: 15px;
}


a.nav-btn {
  color: white !important;
  background: #a21232;
  text-decoration: none;
  font-weight: bold;
  padding: 13px 30px;

  border-radius: 30px;
  transition: .4s
}
/* ============= About me Page ============= */

/* ========================
Page arrangement
==========================*/
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}


.main-about {
  width: fixed;
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 100px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.undragables {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.about-body {
  padding: 10px;
  padding-top: 100px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* ========================
      Background
==========================*/

.website-background{
  background-color: #1a1831;

}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ========================
            Picture
==========================*/
.main-about img {
  min-width: 50%;
  image-orientation: portrait;


}

/* ========================
        All text
==========================*/

.about-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}

.about-header{
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ========================
  Title
==========================*/
.about-header h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-underline-position: below;
  width 120px;
  border:20px solid ;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

/* ========================
    subtitle
==========================*/
.about-header h5 {
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  letter-spacing: 2px;

}

/* ========================
    subtitle in red
==========================*/
span {
  color: #fc3a52;

}


/* ========================
    About me description
==========================*/

.about-text p {
  color: #e3e3e3;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 24px;
  margin-bottom: 28px;
}

.about-text a{
  color: white !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

/* ========================
        Buton
==========================*/

button {
  background: #a21232;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  font-size: 15px;
  ;
}

a button:hover {
  background: transparent;
  border: 2px solid #dece9c;
  cursor: pointer;
  font-size: 17px;
}


/* =====================================
  Contact me Page
=============================== */
.HTML{
  border:20px solid ;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}
.main-contact {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding: 100px;
}

.main-contact img {
  min-width: 15%;
  image-orientation: portrait;
  border-radius: 100%;

}

.contact-body {
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}


.cc {

  font-size: 32px;
  font-family: 'Arvo', serif;
  margin-bottom: 33px;
  color: white;
}


.cm {
  font-size: 40px;
  margin-bottom: 22px;
  font-family: 'DynaPuff', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: capitalize;
  color: white;

}



.links {
  padding: 10px;
  pading-left: center;
  position: absolute;
}


.sc-media {
  width: 100%;
  display: flex;
  align-items: center;

  color: White !important;
  padding: 13px 13px;


}


.fa:hover {
  font-weight: bold;


}

.fa-linkedin {
  color: #0072b1 !important;
}


.fa-instagram {
  color: #bc2a8d !important;
}

.fa-github {
  color: white !important;
}

.fa {
  font-size: 30px !important;
  font-weight: bold;

}
